@model IEnumerable<TirelireShop.Couleur>

@{
    ViewData["Title"] = "Liste des couleurs";
}

<h1>Liste des couleurs</h1>

<p>
    <a asp-action="Create">Ajouter une couleur</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Couleur1)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Couleur1)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Idcouleur">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Idcouleur">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Idcouleur">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
