@model IEnumerable<TirelireShop.Commande>

@{
    ViewData["Title"] = "Commandes passées";
}

<h1>ListOfOrders</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idcommande)
            </th>
            <th>
               Statut
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idcommande)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdstatutCommandeNavigation.StatutCommande1)
            </td>
            <td>
                <a asp-action="PanierOld" asp-route-IdCommande="@item.Idcommande"  class="btn btn-outline-primary btn-sm" >Details</a> 
            </td>
        </tr>
}
    </tbody>
</table>
