@model IEnumerable<TirelireShop.DetailsCommande>
@{
    ViewData["Title"] = "Panier";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdproduitNavigation.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantite)
            </th>
            <th>
                Poids Total (g)
            </th>
            <th>
                Prix (euros)
            </th>
            <th>
                Frais de livraison (euros)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdproduitNavigation.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantite)
            </td>
            <td>
                @(item.IdproduitNavigation.Poids* item.Quantite)
            </td>
            <td>
                @(item.Prix * item.Quantite)
            </td>
            <td>
                @(item.IdproduitNavigation.Poids* item.Quantite*2)
            </td>
        </tr>
        }
    </tbody>
</table>

<div class="box" style="align-items:center">
    <p>
        <a asp-controller="Panier" asp-action="ResetShoppingCart" class="btn btn-primary">Vider le panier </a>
        <a asp-controller="Panier" asp-action="Order" class="btn btn-primary">Commander </a>
    </p>
</div>



<a asp-controller="Home" asp-action="Index">Home</a>


