@model IEnumerable<TirelireShop.DetailsCommande>
@{
    ViewData["Title"] = "Panier";
        decimal total = 0;
    
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdproduitNavigation.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantite)
            </th>
            <th>
                Poids Total (g)
            </th>
            <th>
                Prix (euros)
            </th>
            <th>
                Frais de livraison (euros)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            total += item.Prix * item.Quantite + item.IdproduitNavigation.Poids * item.Quantite * 2 / 100; 

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdproduitNavigation.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantite)
                </td>
                <td>
                    @(item.IdproduitNavigation.Poids* item.Quantite)
                </td>
                <td>
                    @(item.Prix * item.Quantite)
                </td>
                <td>
                    @(item.IdproduitNavigation.Poids* item.Quantite*2 / 100)
                </td>
            </tr>

        }
    </tbody>
</table>

<div class="box" style="align-items:flex-end">
    <span class="editor-label">Total @total $ </span>
</div>



    <a asp-controller="Home" asp-action="Index">Home</a>


