@model TirelireShop.Produit

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Produit</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hauteur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hauteur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Longueur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Longueur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Largeur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Largeur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Poids)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Poids)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Capacite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Capacite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prix)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prix)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescriptionFabricant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescriptionFabricant)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idimage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Idimage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatutActivation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatutActivation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdcouleurNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdcouleurNavigation.Couleur1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdfabricantNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdfabricantNavigation.Adresse)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Idproduit">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
