@model IEnumerable<TirelireShop.Produit>

@{
    ViewData["Title"] = "Liste des produits";
}

<div class="container">

    <h1>Liste des produits</h1>

    <p>
        <a class=nav-link asp-action="Create">Ajouter un produit</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Prix)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DescriptionFabricant)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Prix)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DescriptionFabricant)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Idproduit">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Idproduit">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>
