@model IEnumerable<TirelireShop.Produit>

@{
    ViewData["Title"] = "Liste des produits";
}



<div class="container">

    <div class="into">
        Liste des produits
    </div>

    <p>
        <a class=nav-link asp-action="Create">Ajouter un produit</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Prix)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Idproduit)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Idimage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DescriptionFabricant)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdcouleurNavigation.Couleur1)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prix)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Idproduit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Idimage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DescriptionFabricant)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdcouleurNavigation.Couleur1)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Idproduit">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Idproduit">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Idproduit">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
